<!DOCTYPE html>
<html>
<head>
    <title>Movie Recommendation System</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Welcome to the Movie Recommendation System</h1>
        <form action="/recommend" method="post" class="mt-4">
            <div class="form-group">
                <label for="genre">Choose a genre:</label>
                <select id="genre" name="genre" class="form-control">
                    {% for genre in genres %}
                        <option value="{{ genre }}">{{ genre }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Get Recommendation</button>
        </form>
    </div>
</body>
</html>
